<%= stylesheet_link_tag 'log', :media => "all" %>

<h1>Log in</h1>
<div class="setumei">
<p><登録したメールアドレスとパスワードを入力してください></p>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <a>Email</a><br>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <a>password</a><br>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
    <h3>Save</h3><%= f.check_box :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %><%= render "users/shared/links" %>
  </div>
<% end %>

