<%= stylesheet_link_tag 'shows', :media => "all" %>

<h1>Tweet詳細</h1>
<div class="tweets-container">
  <div class="tweet">
    <b>user:<%= @tweet.user.name %></b><br><br>
    <p>title:<%= @tweet.title %></p><br>
    <p>tweet</p>
    <%= @tweet.body %>
    <br>
    <p>投稿日:<%= @tweet.created_at.strftime('%Y/%m/%d') %></p><br>
    <%= link_to "編集", edit_tweet_path(@tweet.id) %>
    <% if user_signed_in? %>
        <% if current_user.already_liked?(@tweet) %>
            <%= link_to tweet_like_path(@tweet), method: :delete do %>
              <i class="fas fa-heart"></i><%= @tweet.likes.count %>
            <% end %>
        <% else %>
            <%= link_to tweet_likes_path(@tweet), method: :post do %>
              <i class="far fa-heart"></i><%= @tweet.likes.count %>
            <% end %>
        <% end %>
    <% else %>
    <i class="far fa-heart"></i><%= @tweet.likes.count %>
    <% end %>
    <div class="foto">
    <%= image_tag @tweet.image_url, size: "250x200" if @tweet.image? %>
    </div>
  </div>
</div>


<div class="comment-wrapper">
  <h2>comment</h2>
  <% @comments.each do |c| %>
    <div class="comment">
      <%= c.user.name unless c.user.blank? %>
      <%= c.content %>
    </div>
      
  <% end %>

  <% if user_signed_in? %>
    <%= form_with(model: [@tweet, @comment], local: true) do |f| %>
      <%= f.text_area :content %>
      <%= button_tag type: "submit" do %>
        <i class="far fa-comments"></i> コメントする
      <% end %>
    <% end %>
  <% end %>
</div>
<div class="iine">
  <h3>いいねしたユーザー</h3>
  <% @tweet.liked_users.each do |user| %>
    <li><%= user.name %></li>
  <% end %>
  <br>
</div>

