<%= stylesheet_link_tag 'shows', :media => "all" %>

<h3>Tweet詳細</h3>
<div class="syousai">
  <div class="tweet">
    <p>user <%= @tweet.user.name %></p>
    <p>title <%= @tweet.title %></p>
    <p>tweet <%= @tweet.body %></p>
    <p><%= @tweet.created_at %></p>
    <% if user_signed_in? %>
        <% if current_user.already_liked?(@tweet) %>
            <%= link_to tweet_like_path(@tweet), method: :delete do %>
              <i class="fas fa-heart"></i><%= @tweet.likes.count %>
            <% end %>
        <% else %>
            <%= link_to tweet_likes_path(@tweet), method: :post do %>
              <i class="far fa-heart"></i><%= @tweet.likes.count %>
            <% end %>
        <% end %>
    <% else %>
    <i class="far fa-heart"></i><%= @tweet.likes.count %>
    <% end %>
  </div>
  <div class="gazou">
  <%= image_tag @tweet.image_url, size: "250x200" if @tweet.image? %>
  </div>
</div>

<h4>いいねしたユーザー</h4>
<% @tweet.liked_users.each do |user| %>
  <li><%= user.name %></li>
<% end %>

<div class="comment-wrapper">
  <h4>コメント一覧</h4>
  <% @comments.each do |c| %>
    <div>
      <%= c.user.name unless c.user.blank? %>
      <%= c.content %>
    </div>
      
  <% end %>

  <% if user_signed_in? %>
    <%= form_with(model: [@tweet, @comment], local: true) do |f| %>
      <%= f.text_area :content %>
      <%= button_tag type: "submit" do %>
        <i class="far fa-comments"></i> コメントする
      <% end %>
    <% end %>
  <% end %>
</div>

<%= link_to "編集する", edit_tweet_path(@tweet.id) %>
<%= link_to "Tweet一覧に戻る", tweets_path %>