<%= stylesheet_link_tag 'show', :media => "all" %>

 <h1>My Page</h1>

 <div class="syoukai">
  <p>user name : <%= @user.name %></p>
 </div>
 <div class="syoukai2">
  <p>profile : <%= @user.profile %></p>
 </div>

<br>
<% if current_user.id == @user.id %>
  <%= link_to "編集する", edit_user_registration_path %>
<% end %>

<h2>My Tweets</h2>
<div class="tweets-container">
  <% @user.tweets.each do |t| %>
    <div class="tweet">
      <div class="card">
      <%= t.user.name %>
      <%= image_tag t.image_url, size: "250x200" if t.image? %>
      <div class="card-body">
        <h5 class="card-title"><%= t.title %></h5>
        <div class="day">
          <%= t.created_at %><br>
        </div>
        <div class="fbtn">
          <div class="link">
            <%= link_to "詳細", tweet_path(t.id) %>
            <%= link_to "編集", edit_tweet_path(t.id) %>
            <%= link_to "削除", tweet_path(t.id), method: :delete %>
        </div>
        </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<!-- 以下はいいね機能を実装している場合-->
<h2>My Like</h2>
<div class="tweets-container">
  <% @user.liked_tweets.each do |t| %>
    <div class="tweet">
      <div class="card">
      <%= t.user.name %>
      <%= image_tag t.image_url, size: "250x200" if t.image? %>
      <div class="card-body">
        <h5 class="card-title"><%= t.title %></h5>
        <div class="day">
          <%= t.created_at %><br>
        </div>
        <div class="fbtn">
          <div class="link">
            <%= link_to "詳細", tweet_path(t.id) %>
            <%= link_to "編集", edit_tweet_path(t.id) %>
            <%= link_to "削除", tweet_path(t.id), method: :delete %>
         </div>
        </div>
        </div>
      </div>
   </div>
  <% end %>
</div>

<!-- ここまで-->

<%= link_to "Tweet一覧に戻る", tweets_path %>

