<!DOCTYPE html>
<html>
  <head>
    <title>Enjoyalone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <h1>Enjoyalone</h1>
      <div class="header-list">
      <ul>
          <% if user_signed_in? %>
      <li><%= link_to "HOME", tweets_path %></li>
      <li><%= link_to "POST", new_tweet_path %></li>
      <li><%= link_to "MY", user_path(current_user.id) %></li>
      <li><%= link_to "LIKE", ranks_index_path%></li>
          <% end %>
        <li><%= link_to "Login", tweets_path %></li>
        <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
      </ul>
      </div>
    </header>
    <div class="haikei">
        <main>
        <%= yield %>
        </main>
    </div>
    <footer>
    <p>Copyright © GeekSalon All Rights Reserved.</p>
    </footer>
  </body>
</html>
